In [1]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('train.csv')
train.info()

In [3]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [148]:
#train['Item_Outlet_Sales']/train['Item_MRP']
#np.log(2)
#np.exp(0.6931471805599453)
#train['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [161]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
train['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT046    930
OUT035    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [11]:
train[train['Outlet_Identifier'] == 'OUT027'].isnull().sum()

Item_Identifier                0
Item_Weight                  935
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [13]:
train[train['Outlet_Identifier'] == 'OUT027'].shape

(935, 12)

In [18]:
train[train['Outlet_Identifier'] == 'OUT045'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  929
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [19]:
train[train['Outlet_Identifier'] == 'OUT045'].shape

(929, 12)

In [22]:
train[train['Outlet_Identifier'] == 'OUT017'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  926
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [23]:
train[train['Outlet_Identifier'] == 'OUT017'].shape

(926, 12)

In [24]:
train[train['Outlet_Identifier'] == 'OUT010'].isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  555
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [25]:
train[train['Outlet_Identifier'] == 'OUT010'].shape

(555, 12)

In [26]:
train[train['Outlet_Identifier'] == 'OUT019'].isnull().sum()

Item_Identifier                0
Item_Weight                  528
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [27]:
train[train['Outlet_Identifier'] == 'OUT019'].shape

(528, 12)

In [28]:
# handling nan for item weight feature.
train[train['Outlet_Identifier'] == 'OUT027']['Item_Type'].value_counts()

Fruits and Vegetables    140
Snack Foods              137
Household                 99
Frozen Foods              89
Canned                    72
Baking Goods              69
Dairy                     67
Health and Hygiene        60
Meat                      56
Soft Drinks               45
Breads                    31
Hard Drinks               23
Others                    15
Starchy Foods             14
Breakfast                 11
Seafood                    7
Name: Item_Type, dtype: int64

In [33]:
train['Item_Type'].value_counts()

{'Hard Drinks', 'Fruits and Vegetables', 'Snack Foods', 'Frozen Foods', 'Health and Hygiene', 'Breads', 'Dairy', 'Household', 'Baking Goods', 'Others', 'Starchy Foods', 'Seafood', 'Breakfast', 'Canned', 'Soft Drinks', 'Meat'}

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [2]:
for item in list(set(train['Item_Type'])):
    train.loc[(train['Item_Weight'].isnull()) & (train['Item_Type'] == item),'Item_Weight'] = train[train['Item_Type'] == item]['Item_Weight'].mean()
    #print(train[train['Item_Type'] == item]['Item_Weight'].mean())

NameError: name 'train' is not defined

In [163]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [86]:
# handle nan in Outlet_Size

In [119]:
train[(train['Outlet_Location_Type'] == 'Tier 2') & (train['Outlet_Type'] == 'Grocery Store')].Outlet_Size.isnull().sum()

0

In [121]:
train[(train['Outlet_Location_Type'] == 'Tier 2')].Outlet_Type.value_counts()

Supermarket Type1    2785
Name: Outlet_Type, dtype: int64

In [120]:
train[(train['Outlet_Location_Type'] == 'Tier 2') & (train['Outlet_Type'] == 'Grocery Store')].Outlet_Size.value_counts()

Series([], Name: Outlet_Size, dtype: int64)

In [90]:
train[(train['Outlet_Location_Type'] == 'Tier 2') & (train['Outlet_Type'] == 'Supermarket Type1')].shape

(2785, 12)

In [108]:
train[(train['Outlet_Location_Type'] == 'Tier 3') & (train['Outlet_Type'] == 'Grocery Store')].Outlet_Size.isnull().sum()

555

In [110]:
train[(train['Outlet_Location_Type'] == 'Tier 3') & (train['Outlet_Type'] == 'Grocery Store')].shape

(555, 12)

In [102]:
print(train[(train['Outlet_Location_Type'] == 'Tier 2')].Outlet_Size.value_counts())
print(train[(train['Outlet_Location_Type'] == 'Tier 3')].Outlet_Size.value_counts())

Small    930
Name: Outlet_Size, dtype: int64
Medium    1863
High       932
Name: Outlet_Size, dtype: int64

In [101]:
print("null values in Tier3: %s"%train[(train['Outlet_Location_Type'] == 'Tier 3')].Outlet_Size.isnull().sum())
print("null values in Tier2: %s"%train[(train['Outlet_Location_Type'] == 'Tier 2')].Outlet_Size.isnull().sum())

null values in Tier3: 555
null values in Tier2: 1855

In [106]:
train['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [122]:
train[train['Outlet_Type']=='Grocery Store'].Outlet_Size.value_counts()

Small    528
Name: Outlet_Size, dtype: int64

In [123]:
train[train['Outlet_Type']=='Supermarket Type1'].Outlet_Size.value_counts()

Small     1860
High       932
Medium     930
Name: Outlet_Size, dtype: int64

In [243]:
train['Outlet_Size'] = train['Outlet_Size'].fillna('Small')

In [223]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [166]:
all_column = list(train.columns)
numeric_col = list(train._get_numeric_data().columns )
categorical_columns =  list(set(all_column) - set(numeric_col))
print(numeric_col)
print(categorical_columns)

['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']
['Item_Type', 'Item_Fat_Content', 'Outlet_Size', 'Outlet_Identifier', 'Outlet_Location_Type', 'Item_Identifier', 'Outlet_Type']

In [224]:
# handling misleading information
train['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [244]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].replace({'Low Fat':'LF','LF':'LF','low fat':'LF','Regular':'Regular','reg':'Regular'})

In [245]:
train['Item_Fat_Content'].value_counts()

LF         5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
# convert categorical data into numeric

In [247]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [181]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

In [248]:
# item_Fat_Content
res = enc.fit_transform(train[['Item_Fat_Content']]).toarray()

In [249]:
enc.get_feature_names()

array(['x0_LF', 'x0_Regular'], dtype=object)

In [250]:
new_train = pd.concat([train.drop('Item_Fat_Content',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [251]:

train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [252]:
# Item_Type
res = enc.fit_transform(new_train[['Item_Type']]).toarray()
new_train = pd.concat([new_train.drop('Item_Type',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [253]:
# Outlet_Identifier
res = enc.fit_transform(new_train[['Outlet_Identifier']]).toarray()
new_train = pd.concat([new_train.drop('Outlet_Identifier',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [255]:
new_train['Outlet_Size'].value_counts()

Small     4798
Medium    2793
High       932
Name: Outlet_Size, dtype: int64

In [256]:
# Outlet_Size
new_train['Outlet_Size'] = new_train['Outlet_Size'].replace({'Small':1,'Medium':2,'High':3})

In [257]:
new_train['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [258]:
# Outlet_Location_Type
new_train['Outlet_Location_Type'] = new_train['Outlet_Location_Type'].replace({'Tier 3':1,'Tier 2':2,'Tier 1':3})

In [261]:
new_train.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,x0_LF,x0_Regular,...,x0_OUT019,x0_OUT027,x0_OUT035,x0_OUT045,x0_OUT046,x0_OUT049,x0_Grocery Store,x0_Supermarket Type1,x0_Supermarket Type2,x0_Supermarket Type3
0,FDA15,9.30,0.016047,249.8092,1999,2,3,3735.1380,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,DRC01,5.92,0.019278,48.2692,2009,2,1,443.4228,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,FDN15,17.50,0.016760,141.6180,1999,2,3,2097.2700,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,FDX07,19.20,0.000000,182.0950,1998,1,1,732.3800,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,NCD19,8.93,0.000000,53.8614,1987,3,1,994.7052,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [260]:
# Outlet_Type
res = enc.fit_transform(new_train[['Outlet_Type']]).toarray()
new_train = pd.concat([new_train.drop('Outlet_Type',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [265]:
# genrate base model
target = new_train['Item_Outlet_Sales']
new_train = new_train.drop(['Item_Outlet_Sales','Item_Identifier'],axis=1)

In [269]:
# linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [271]:
x_train,x_test,y_train,y_test = train_test_split(new_train,target,test_size = 0.30)

In [272]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [275]:
pval = lr.predict(x_test)

In [280]:
print(np.sqrt(mean_squared_error(y_test,pval)))

1147.2990259104802

In [282]:
# l2 norms with linear regression
from sklearn.linear_model import RidgeCV
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1])
clf.fit(x_train, y_train)
pval = clf.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pval)))

1147.2889968543054

In [283]:
clf.score(x_train, y_train)

0.5610827764353348

In [286]:
# randomforest regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
pipeline = make_pipeline(RandomForestRegressor())
pipeline.get_params()

{'memory': None,
 'steps': [('randomforestregressor',
   RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
              max_features='auto', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
              oob_score=False, random_state=None, verbose=0, warm_start=False))],
 'randomforestregressor': RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0, warm_start=False),
 'randomforestregressor__bootstrap': True,
 'randomforestregressor__criterion': 'mse',
 'randomforestregressor__max_depth': None,
 'randomforestregressor__max_features': 'auto',
 'randomforestregressor__max_leaf_nodes': None,
 'randomforestregressor__min_impurity_decrease': 0.0,
 'randomforestregressor__min_impurity_split': None,
 'randomforestregressor__min_samples_leaf': 1,
 'randomforestregressor__min_samples_split': 2,
 'randomforestregressor__min_weight_fraction_leaf': 0.0,
 'randomforestregressor__n_estimators': 'warn',
 'randomforestregressor__n_jobs': None,
 'randomforestregressor__oob_score': False,
 'randomforestregressor__random_state': None,
 'randomforestregressor__verbose': 0,
 'randomforestregressor__warm_start': False}

In [287]:
hyperparameters = {
    'randomforestregressor__max_depth': [4,5,6,8,10],
    'randomforestregressor__n_estimators':[50,100,200,500,1000]
}
clf = GridSearchCV(pipeline, hyperparameters, cv=6)

In [288]:
clf.fit(new_train,target)

GridSearchCV(cv=6, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'randomforestregressor__max_depth': [4, 5, 6, 8, 10], 'randomforestregressor__n_estimators': [50, 100, 200, 500, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [289]:
clf.best_params_

{'randomforestregressor__max_depth': 6,
 'randomforestregressor__n_estimators': 100}

In [292]:
clf.refit

True

In [294]:
pval = clf.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pval)))

1059.4873051757493

In [300]:
test = pd.read_csv('test.csv')
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [301]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [304]:
# handle null values.
for item in list(set(test['Item_Type'])):
    test.loc[(test['Item_Weight'].isnull()) & (test['Item_Type'] == item),'Item_Weight'] = test[test['Item_Type'] == item]['Item_Weight'].mean()
test['Outlet_Size'] = test['Outlet_Size'].fillna('Small')

In [305]:
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [308]:
test['Item_Fat_Content'].value_counts()

LF         3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [307]:
test['Item_Fat_Content'] = test['Item_Fat_Content'].replace({'Low Fat':'LF','LF':'LF','low fat':'LF','Regular':'Regular','reg':'Regular'})

In [309]:
# item_Fat_Content
res = enc.fit_transform(test[['Item_Fat_Content']]).toarray()
new_test = pd.concat([test.drop('Item_Fat_Content',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [311]:
# Item_Type
res = enc.fit_transform(new_test[['Item_Type']]).toarray()
new_test = pd.concat([new_test.drop('Item_Type',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [313]:
# Outlet_Identifier
res = enc.fit_transform(new_test[['Outlet_Identifier']]).toarray()
new_test = pd.concat([new_test.drop('Outlet_Identifier',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [315]:
# Outlet_Size
new_test['Outlet_Size'] = new_test['Outlet_Size'].replace({'Small':1,'Medium':2,'High':3})

In [317]:
# Outlet_Location_Type
new_test['Outlet_Location_Type'] = new_test['Outlet_Location_Type'].replace({'Tier 3':1,'Tier 2':2,'Tier 1':3})

In [320]:
new_test.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,x0_LF,x0_Regular,x0_Baking Goods,...,x0_OUT019,x0_OUT027,x0_OUT035,x0_OUT045,x0_OUT046,x0_OUT049,x0_Grocery Store,x0_Supermarket Type1,x0_Supermarket Type2,x0_Supermarket Type3
0,FDW58,20.75000,0.007565,107.8622,1999,2,3,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,FDW14,8.30000,0.038428,87.3198,2007,1,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,NCN55,14.60000,0.099575,241.7538,1998,1,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,FDQ58,7.31500,0.015388,155.0340,2007,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,FDY38,12.95504,0.118599,234.2300,1985,2,1,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [319]:
# Outlet_Type
res = enc.fit_transform(new_test[['Outlet_Type']]).toarray()
new_test = pd.concat([new_test.drop('Outlet_Type',axis =1),pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)

In [322]:
tpval = clf.predict(new_test.drop('Item_Identifier',axis=1))

In [324]:
# write to sample file
submission = test[['Item_Identifier','Outlet_Identifier']]
submission['Item_Outlet_Sales'] = tpval
submission.head()

/home/doodlews108/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1643.724650
1           FDW14            OUT017        1354.167812
2           NCN55            OUT010         568.990453
3           FDQ58            OUT017        2476.785040
4           FDY38            OUT027        6199.380872

In [326]:
submission.to_csv('submission_v1.csv',index=False)

In [327]:
# results improvement
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [347]:
# correlation with Item_Fat_Content
res = enc.fit_transform(train[['Item_Fat_Content']]).toarray()
new_p = pd.DataFrame(res,columns = enc.get_feature_names())
new_p['target'] = train['Item_Outlet_Sales']
new_p.corr()

               x0_LF  x0_Regular    target
x0_LF       1.000000   -1.000000 -0.018719
x0_Regular -1.000000    1.000000  0.018719
target     -0.018719    0.018719  1.000000

In [ ]:
new_p

In [346]:
# correlation with Outlet_Type 
res = enc.fit_transform(train[['Outlet_Type']]).toarray()
new_p= pd.DataFrame(res,columns = enc.get_feature_names())
new_p['target'] = train['Item_Outlet_Sales']
new_p.corr()

,x0_Grocery Store,x0_Supermarket Type1,x0_Supermarket Type2,x0_Supermarket Type3,target
x0_Grocery Store,1.000000,-0.524942,-0.133364,-0.133928,-0.411727
x0_Supermarket Type1,-0.524942,1.000000,-0.480943,-0.482977,0.108765
x0_Supermarket Type2,-0.133364,-0.480943,1.000000,-0.122702,-0.038059
x0_Supermarket Type3,-0.133928,-0.482977,-0.122702,1.000000,0.311192
target,-0.411727,0.108765,-0.038059,0.311192,1.000000

In [348]:
# correlation with Item_Type 
res = enc.fit_transform(train[['Item_Type']]).toarray()
new_p= pd.DataFrame(res,columns = enc.get_feature_names())
new_p['target'] = train['Item_Outlet_Sales']
new_p.corr()

,x0_Baking Goods,x0_Breads,x0_Breakfast,x0_Canned,x0_Dairy,x0_Frozen Foods,x0_Fruits and Vegetables,x0_Hard Drinks,x0_Health and Hygiene,x0_Household,x0_Meat,x0_Others,x0_Seafood,x0_Snack Foods,x0_Soft Drinks,x0_Starchy Foods,target
x0_Baking Goods,1.000000,-0.049968,-0.032801,-0.082354,-0.084600,-0.095849,-0.117916,-0.046036,-0.073120,-0.099176,-0.065715,-0.040800,-0.024951,-0.116120,-0.067327,-0.038133,-0.038381
x0_Breads,-0.049968,1.000000,-0.019918,-0.050010,-0.051373,-0.058204,-0.071605,-0.027955,-0.044402,-0.060225,-0.039906,-0.024776,-0.015152,-0.070514,-0.040885,-0.023156,0.002332
x0_Breakfast,-0.032801,-0.019918,1.000000,-0.032828,-0.033723,-0.038207,-0.047004,-0.018351,-0.029147,-0.039533,-0.026195,-0.016264,-0.009946,-0.046288,-0.026838,-0.015201,-0.004656
x0_Canned,-0.082354,-0.050010,-0.032828,1.000000,-0.084670,-0.095929,-0.118015,-0.046074,-0.073181,-0.099258,-0.065770,-0.040834,-0.024972,-0.116217,-0.067383,-0.038165,0.007387
x0_Dairy,-0.084600,-0.051373,-0.033723,-0.084670,1.000000,-0.098544,-0.121232,-0.047330,-0.075176,-0.101965,-0.067563,-0.041947,-0.025653,-0.119386,-0.069220,-0.039205,0.008858
x0_Frozen Foods,-0.095849,-0.058204,-0.038207,-0.095929,-0.098544,1.000000,-0.137352,-0.053624,-0.085173,-0.115523,-0.076547,-0.047525,-0.029064,-0.135260,-0.078425,-0.044418,-0.009482
x0_Fruits and Vegetables,-0.117916,-0.071605,-0.047004,-0.118015,-0.121232,-0.137352,1.000000,-0.065970,-0.104782,-0.142120,-0.094171,-0.058467,-0.035755,-0.166402,-0.096481,-0.054645,0.025950
x0_Hard Drinks,-0.046036,-0.027955,-0.018351,-0.046074,-0.047330,-0.053624,-0.065970,1.000000,-0.040908,-0.055485,-0.036765,-0.022826,-0.013959,-0.064965,-0.037667,-0.021334,-0.003956
x0_Health and Hygiene,-0.073120,-0.044402,-0.029147,-0.073181,-0.075176,-0.085173,-0.104782,-0.040908,1.000000,-0.088129,-0.058396,-0.036255,-0.022172,-0.103186,-0.059828,-0.033885,-0.025587
x0_Household,-0.099176,-0.060225,-0.039533,-0.099258,-0.101965,-0.115523,-0.142120,-0.055485,-0.088129,1.000000,-0.079204,-0.049174,-0.030073,-0.139955,-0.081147,-0.045960,0.015701
x0_Meat,-0.065715,-0.039906,-0.026195,-0.065770,-0.067563,-0.076547,-0.094171,-0.036765,-0.058396,-0.079204,1.000000,-0.032584,-0.019927,-0.092737,-0.053769,-0.030454,-0.002995
x0_Others,-0.040800,-0.024776,-0.016264,-0.040834,-0.041947,-0.047525,-0.058467,-0.022826,-0.036255,-0.049174,-0.032584,1.000000,-0.012372,-0.057576,-0.033383,-0.018908,-0.021267
x0_Seafood,-0.024951,-0.015152,-0.009946,-0.024972,-0.025653,-0.029064,-0.035755,-0.013959,-0.022172,-0.030073,-0.019927,-0.012372,1.000000,-0.035211,-0.020415,-0.011563,0.007380
x0_Snack Foods,-0.116120,-0.070514,-0.046288,-0.116217,-0.119386,-0.135260,-0.166402,-0.064965,-0.103186,-0.139955,-0.092737,-0.057576,-0.035211,1.000000,-0.095011,-0.053813,0.022782
x0_Soft Drinks,-0.067327,-0.040885,-0.026838,-0.067383,-0.069220,-0.078425,-0.096481,-0.037667,-0.059828,-0.081147,-0.053769,-0.033383,-0.020415,-0.095011,1.000000,-0.031201,-0.024040
x0_Starchy Foods,-0.038133,-0.023156,-0.015201,-0.038165,-0.039205,-0.044418,-0.054645,-0.021334,-0.033885,-0.045960,-0.030454,-0.018908,-0.011563,-0.053813,-0.031201,1.000000,0.015039
target,-0.038381,0.002332,-0.004656,0.007387,0.008858,-0.009482,0.025950,-0.003956,-0.025587,0.015701,-0.002995,-0.021267,0.007380,0.022782,-0.024040,0.015039,1.000000

In [349]:
# correlation with Outlet_Identifier 
res = enc.fit_transform(train[['Outlet_Identifier']]).toarray()
new_p= pd.DataFrame(res,columns = enc.get_feature_names())
new_p['target'] = train['Item_Outlet_Sales']
new_p.corr()

,x0_OUT010,x0_OUT013,x0_OUT017,x0_OUT018,x0_OUT019,x0_OUT027,x0_OUT035,x0_OUT045,x0_OUT046,x0_OUT049,target
x0_OUT010,1.000000,-0.092476,-0.092142,-0.092253,-0.067823,-0.092643,-0.092365,-0.092309,-0.092365,-0.092365,-0.284883
x0_OUT013,-0.092476,1.000000,-0.122333,-0.122481,-0.090046,-0.122999,-0.122629,-0.122555,-0.122629,-0.122629,0.024170
x0_OUT017,-0.092142,-0.122333,1.000000,-0.122038,-0.089721,-0.122554,-0.122185,-0.122112,-0.122185,-0.122185,0.032610
x0_OUT018,-0.092253,-0.122481,-0.122038,1.000000,-0.089829,-0.122702,-0.122333,-0.122260,-0.122333,-0.122333,-0.038059
x0_OUT019,-0.067823,-0.090046,-0.089721,-0.089829,1.000000,-0.090209,-0.089938,-0.089884,-0.089938,-0.089938,-0.277250
x0_OUT027,-0.092643,-0.122999,-0.122554,-0.122702,-0.090209,1.000000,-0.122850,-0.122776,-0.122850,-0.122850,0.311192
x0_OUT035,-0.092365,-0.122629,-0.122185,-0.122333,-0.089938,-0.122850,1.000000,-0.122407,-0.122481,-0.122481,0.052823
x0_OUT045,-0.092309,-0.122555,-0.122112,-0.122260,-0.089884,-0.122776,-0.122407,1.000000,-0.122407,-0.122407,0.002274
x0_OUT046,-0.092365,-0.122629,-0.122185,-0.122333,-0.089938,-0.122850,-0.122481,-0.122407,1.000000,-0.122481,0.019803
x0_OUT049,-0.092365,-0.122629,-0.122185,-0.122333,-0.089938,-0.122850,-0.122481,-0.122407,-0.122481,1.000000,0.034264
target,-0.284883,0.024170,0.032610,-0.038059,-0.277250,0.311192,0.052823,0.002274,0.019803,0.034264,1.000000

In [350]:
# correlation with Outlet_Location_Type 
res = enc.fit_transform(train[['Outlet_Location_Type']]).toarray()
new_p= pd.DataFrame(res,columns = enc.get_feature_names())
new_p['target'] = train['Item_Outlet_Sales']
new_p.corr()

           x0_Tier 1  x0_Tier 2  x0_Tier 3    target
x0_Tier 1   1.000000  -0.434653  -0.502066 -0.111287
x0_Tier 2  -0.434653   1.000000  -0.560639  0.058261
x0_Tier 3  -0.502066  -0.560639   1.000000  0.046376
target     -0.111287   0.058261   0.046376  1.000000

In [351]:
# correlation with numerical veriables.
train.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.011620,0.025821,-0.008376,0.012088
Item_Visibility,-0.011620,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.025821,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.008376,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.012088,-0.128625,0.567574,-0.049135,1.000000

In [356]:
# train model using fetaures which have high correlation(outlet_identifier, outlet_type,item_MRP)
res = enc.fit_transform(train[['Outlet_Type']]).toarray()
new_t= pd.DataFrame(res,columns = enc.get_feature_names())
res = enc.fit_transform(train[['Outlet_Identifier']]).toarray()
new_t= pd.concat([new_t,pd.DataFrame(res,columns = enc.get_feature_names())],axis=1)
new_t['Item_MRP'] = train['Item_MRP']
target = train['Item_Outlet_Sales']
new_t.head()

,x0_Grocery Store,x0_Supermarket Type1,x0_Supermarket Type2,x0_Supermarket Type3,x0_OUT010,x0_OUT013,x0_OUT017,x0_OUT018,x0_OUT019,x0_OUT027,x0_OUT035,x0_OUT045,x0_OUT046,x0_OUT049,Item_MRP
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,249.8092
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,48.2692
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,141.6180
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,182.0950
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.8614

In [355]:
pipeline = make_pipeline(RandomForestRegressor())
pipeline.get_params()
hyperparameters = {
    'randomforestregressor__max_depth': [4,5,6,8,10],
    'randomforestregressor__n_estimators':[50,100,200,500,1000]
}
clf = GridSearchCV(pipeline, hyperparameters, cv=6)

In [357]:
clf.fit(new_t,target)

GridSearchCV(cv=6, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'randomforestregressor__max_depth': [4, 5, 6, 8, 10], 'randomforestregressor__n_estimators': [50, 100, 200, 500, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [358]:
clf.best_params_

{'randomforestregressor__max_depth': 5,
 'randomforestregressor__n_estimators': 200}

In [359]:
clf.refit

True

In [360]:
pval = clf.predict(new_t)
print(np.sqrt(mean_squared_error(target,pval)))

1067.775899896183

In [362]:
# use svm for regression
from sklearn.svm import SVR
pipeline = make_pipeline(SVR())
pipeline.get_params()

{'memory': None,
 'steps': [('svr', SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
     gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
     tol=0.001, verbose=False))],
 'svr': SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
   gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
   tol=0.001, verbose=False),
 'svr__C': 1.0,
 'svr__cache_size': 200,
 'svr__coef0': 0.0,
 'svr__degree': 3,
 'svr__epsilon': 0.1,
 'svr__gamma': 'auto_deprecated',
 'svr__kernel': 'rbf',
 'svr__max_iter': -1,
 'svr__shrinking': True,
 'svr__tol': 0.001,
 'svr__verbose': False}

In [370]:
hyperparameters = {
    'svr__C': [0.01,0.1,0.5,1],
    'svr__kernel':['linear','poly','rbf']
}
clf = GridSearchCV(pipeline, hyperparameters, cv=5)

In [ ]:
clf.fit(new_train,target)

/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/doodlews108/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [366]:
clf.best_params_

{'svr__C': 0.01, 'svr__kernel': 'poly'}

In [367]:
clf.refit

True

In [369]:
pval = clf.predict(new_t)
print(np.sqrt(mean_squared_error(target,pval)))

1105.336054906599